/.C.java._trace
/.ExtensionMethods.java._trace
/.ItExamples.java._trace
/.LambdaExpr.java._trace
/.MyFirstXtendClasses.java._trace
/.MyListExtensions.java._trace
/.StaticMethods.java._trace
/C.java
/ExtensionMethods.java
/ItExamples.java
/LambdaExpr.java
/MyFirstXtendClasses.java
/MyListExtensions.java
/StaticMethods.java
